@media(min-width: 960px){
    .margin-btn{
        margin-left:10%
    }

    .margin-btn-left{
        margin-top:10%
    }
}

@media(max-width: 960px){
    .margin-btn{
        margin-left:35% ;
        margin-top: 5%
    }
}

.modal-body .form-group label{
  font-weight: bold;
}
