<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <strong>Active Bilties</strong>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-sm right" (click)="showupdatereceiptform()">Update Receipt</button>
                </div>
                <div class="col-md-3">
                    <button *ngIf="viewactive" type="button" class="btn btn-primary btn-sm right" (click)="showCompletedBuilties()">View Completed Bilties</button>
                    <button *ngIf="!viewactive" type="button" class="btn btn-primary btn-sm right" (click)="showActiveBuilties()">View Active Bilties</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
              <button class="btn btn-default btn-sm btn-gridmenu" (click)="toggleGridMenu($event)">
                  <i class="fa fa-bars"></i>
                  Grid Menu
              </button>
              <div id="bilty-list-container" class="col-md-12 slickgrid-list-container">
                <angular-slickgrid #gridRef
                    gridId="biltyGrid"
                    [columnDefinitions]="allColumns"
                    [gridOptions]="gridOptions"
                    [dataset]="builtylist"
                    (onAngularGridCreated)="onGridReady($event)">
                </angular-slickgrid>
              </div>
          <ng-template #nobuilties>
            <div class="row">
              <div *ngIf="viewactive" class="col-md-6">
                  Currently no bilties are active.
              </div>
              <div *ngIf="!viewactive" class="col-md-6">
                  No bilties are completed in last 3 months.
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
