.modal-dialog{
    width:1250px
}

.hl_radio_margin{
    margin:10px
}

.hl_vehiclelist{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white
}

.radio-inline label{
  margin-right: 10px;
}

div.container {
  width: 90%;
}
