<div class="col-md-12">
    <div class="header">
        <h4 class="title">Added Users</h4>
    </div>
     <div class="content table-responsive table-full-width">
        <table class="table table-bordered table-responsive">
            <thead class="p-back-color">
                <tr>
                    <th *ngFor="let UserProp of UserProperties" ><span class="p-txt ">{{ UserProp }}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of UserList">
                    <td>{{user.username}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.active}}</td>
                    <td><button class="btn btn-primary hl-user-update-btn" (click)="updateUserData()">Update</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>