<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <strong>{{formtitle}}</strong>
          </div>
        </div>
      </div>
      <div class="panel-body fixed-height-divs">
        <form [formGroup]="panForm">
          <strong>PAN Information</strong>
          <br>
          <br>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="panc">PAN</label>
                <input class="form-control" type="text" id="panc" formControlName="panNo" [value]="PanDataToUpdate.panNo" disabled>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="panHolderName">Pan Holder Name</label>
                <input class="form-control" type="text" [value]="PanDataToUpdate.panHolderName" formControlName="panHolderName">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="mobile">Mobile</label>
                <input class="form-control" type="text" [value]="PanDataToUpdate.mobile" pattern="[0-9]*" formControlName="mobile">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="tds">TDS</label>
                <select class="form-control" name="tds" id="tds" formControlName="tds">
                    <option value="false" [selected]="!PanDataToUpdate.tds">No</option>
                    <option value="true" [selected]="PanDataToUpdate.tds">Yes</option>
                  </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" id="city" [value]="PanDataToUpdate.city" formControlName="city">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="state">State</label>
                <select class="form-control" name="state" id="state" formControlName="state">
                  <option *ngFor="let s of ref_states" [value]="s">{{s}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="panCopy">PAN Copy</label>
                <input class="form-control" type="file" id="panCopy" ng2FileSelect [uploader]="uploader" (change)="onFileChange({'name':'pancopy'})" formControlName="panCopy">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="declaration">Declaration</label>
                <input class="form-control" type="file" id="declaration" ng2FileSelect [uploader]="uploader" (change)="onFileChange({'name':'declaration'})" formControlName="declaration">
              </div>
            </div>
          </div>
          <hr>

          <strong><u>Add Bank Information</u></strong>
          <br>
          <br>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="accountNumber">Bank A/C No</label>
                <input class="form-control" type="number" id="accountNumber" value="" formControlName="accountNumber">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="confirmaccountNumber">Confirm A/C No</label>
                <input class="form-control" type="password" id="confirmaccountNumber" formControlName="confirmAccountNumber">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="accountHoldername">Account Holder Name</label>
                <input class="form-control" type="text" id="accountHoldername" formControlName="accountHoldername">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ifscCode">IFSC Code</label>
                <input class="form-control" type="text" id="ifscCode" value="" formControlName="ifscCode">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="confirmifscCode">Confirm IFSC Code</label>
                <input class="form-control" type="password" id="confirmifscCode" formControlName="confirmIfscCode">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="bankname">Bank Name</label>
                <input class="form-control" type="text" id="bankname" value="" formControlName="bankName">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="passbook">Passbook</label>
                <input type="file" name="passbook" ng2FileSelect [uploader]="uploader" formControlName="passbook" >
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="button" class="btn btn-primary margn-btn" id="addAccount" (click)="addAccountByBankName()">Add
                  Account</button>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" *ngIf="accountsAvailable()">
            <div class="col-md-8" style="overflow: auto;">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th><strong>Account No.</strong></th>
                      <th><strong>Account Holder</strong></th>
                      <th><strong>IFSC</strong></th>
                      <th><strong>Bank Name</strong></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let account of addedBankAccounts; let i=index;">
                      <td>{{account.accountNo}}</td>
                      <td>{{account.accountHoldername}}</td>
                      <td>{{account.ifscCode}}</td>
                      <td>{{account.bankName}}</td>
                      <td><a><img src="/assets/img/delete-icon.png" width="20" height="20" (click)="removeAccount(i)"/></a></td>
                      <td><a *ngIf="account.passbookAvailable" target="_blank" [href]="s3url+account.passbookLink"><img src="/assets/img/img_icon.png" width="20" height="20"/></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-push-4">
              <div class="form-group">
                <button class="btn btn-primary margn-btn" type="submit" name="update" (click)="UpdatePANdetails()">Update</button>
              </div>
            </div>
            <div class="col-md-2 col-md-push-4">
              <div class="form-group">
                <button class="btn btn-primary margn-btn" name="Cancel" (click)="d('Cross click')">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
