/* You can add global styles to this file, and also import other style files */

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
@media (min-width: 991px) {
html,
body {
    height: 100%;
    font-size: 12px;
}
/*.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
div.fixed-height-divs div[class^="col-"]{
  height: 6.5rem;
}
.invalid-field{
  color: red !important;
  font-size: 11px !important;
}
div.row{
  display: inline !important;
}
.p-spacer-top-20 {
    margin-top:  20%
}

a{
  cursor: pointer;
}

.dropdown-down[ng-reflect-ng-class="dropdown-down"]{
  border-top:6px solid #555 !important;
  border-left:3px solid transparent !important;
  border-right: 3px solid transparent !important;
}

span.dropdown-btn{
  padding: 12px 4px 12px 12px !important;
}

span.dropdown-up{
  border-bottom:6px solid #555 !important;
  border-left:3px solid transparent !important;
  border-right: 3px solid transparent !important;
}

.main-panel > .content{
    padding: 0px !important;
}

img.link{
  cursor: pointer;
}

.list-options-local{
  border: 1px solid gray;
  padding: 15px 15px 0px 15px;
  margin: 20px 20px 0px;
  /*background: #A4D3EE;*/
  box-shadow: 5px 5px 2px #888888;
  position: relative;
  display: inline-block;

}
.list-options-local .remove-option {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}

div.centered{
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

button.right{
  float: right;
  margin-top: 0 !important;
}

.disabled-row{
  background-color: lightpink !important;
}

.btn.float-left{
  margin-left: 0 !important;
}

.table tbody tr td, .table thead tr th, .table tfoot tr td{
  padding: 4px !important;
}

div.ag-overlay{
  position: relative !important;
}

div.ng2-tag-input{
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 0 !important;
}
}
