/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    font-size: 12px !important;
}
/*.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
div.fixed-height-divs div[class^="col-"]{
  height: 6.5rem;
}
.invalid-field{
  color: red !important;
  font-size: 11px !important;
}
div.row{
  display: inline !important;
}
.p-spacer-top-20 {
    margin-top:  20%
}

a{
  cursor: pointer;
}

.list-options-local{
  border: 1px solid gray;
  padding: 15px 15px 0px 15px;
  margin: 20px 20px 0px;
  /*background: #A4D3EE;*/
  box-shadow: 5px 5px 2px #888888;
  position: relative;
  display: inline-block;

}
.list-options-local .remove-option {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}

div.centered{
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

button.right{
  float: right;
  margin-top: 0 !important;
}

.table tbody tr td, .table thead tr th, .table tfoot tr td{
  padding: 4px !important;
}
