<div class="col-md-12">
    <div class="header">
        <h4 class="title">Selected Running DOs</h4>
    </div>
     <div class="content table-responsive table-full-width">
        <table class="table table-bordered table-responsive">
            <thead class="p-back-color">
                <tr>
                    <th *ngFor="let activeDOProp of activeDoProperties" ><span class="p-txt ">{{ activeDOProp }}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activeDO of activeDoList">
                    <td>{{activeDO.areaDoNo}} / {{activeDO.bspDoNo}}</td>
                    <td>{{activeDO.collary}}</td>
                    <td>{{activeDO.quantity}}</td>
                    <td>{{activeDO.areaDoNo}}</td>
                    <td>{{activeDO.bspDoNo}}</td>
                    <td><button class="btn btn-primary hl-user-update-btn" id="{{activeDO.id}}" (click)="onUpdateDO($event)">Update</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>