
<div class="container-fluid">
    <button class="btn btn-default btn-sm btn-gridmenu" (click)="toggleGridMenu($event)">
        <i class="fa fa-bars"></i>
        Grid Menu
    </button>
    <div id="running-do-container" class="col-md-12">
      <angular-slickgrid #gridRef
          gridId="runningDOGrid"
          [columnDefinitions]="allColumns"
          [gridOptions]="gridOptions"
          [dataset]="activeDoList"
          (onAngularGridCreated)="onGridReady($event)">
      </angular-slickgrid>
    </div>
</div>
